@mixin flex-horizontal{
    display: flex;
    gap: 22px;
    align-items: center;
    flex-wrap: wrap;
}
@mixin flex-colum{
    display: flex;
    flex-direction: column;
    justify-content: left;
}