@import "./reset.scss";
@import "./variables.scss";
@import "./mixsins.scss";
@import "./adaptive.scss";

.header {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 15px 25px;
  &_right {
    position: relative;
    @include flex-horizontal;
    gap: 40px;
    font-size: 16px;
  }
  &_left {
    @include flex-horizontal;
    font-size: 14px;
    font-weight: 500;
  }
}
.engl {
  position: relative;
  &::before {
    content: url(../images/header_english.svg);
    position: absolute;
    left: -25px;
  }
}

.blue_btn {
  padding: 8px 16px;
  color: white;
  background: $blue;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}
.search_input {
  border: 1px solid $light-grey;
  max-width: 300px;
  margin: -5px;
  height: 42px;
  &_first {
    background: url(../images/search.svg) no-repeat left;
    background-position: 5% 45%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 13px 37px;
  }
  &_last {
    padding: 13px 15px;
  }
}

.search_btn {
  width: 42px;
  height: 42px;
  background-color: #f65858;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  position: absolute;
  top: -2px;
}
.main {
  margin: 0 auto;
  max-width: 1200px;
}
.join {
  max-width: 600px;
  position: relative;
  margin-top: 77px;
  margin-bottom: 98px;

  &::before {
    content: "";
    background-image: url(../images/irl_event.svg.svg);
    background-size: cover;
    width: 379px;
    height: 269px;
    position: absolute;
    right: -450px;
  }
  & p {
    margin: 25px 0;
  }
  .blue_btn {
    font-size: 16px;
  }
}
.events {
  &_title {
    @include flex-horizontal;
    margin-bottom: 30px;
    justify-content: space-between;
    &_right {
      @include flex-horizontal;
      & h2 {
        position: relative;
        color: $blue;
        padding: 12px 50px 8px 12px;
        background-color: $blue-background;
        border-radius: 8px;
        &::before {
          content: url(../images/pencil.svg);
          position: absolute;
          right: 13px;
        }
      }
    }
  }

  &_card {
    @include flex-colum;
    gap: 15px;
    max-width: 270px;

    &_content {
      padding-right: 16px;
      padding-bottom: 55px;
      & h5 {
        margin: 8px 0;
      }
      & p {
        margin-left: 25px;
        margin-bottom: 12px;
        position: relative;
        &::after {
          left: -25px;
          top: 3px;
          position: absolute;
          content: url(../images/date.svg);
        }
      }
    }
  }
}
#events_done {
  position: relative;
  margin-left: 25px;
  &::after {
    left: -25px;
    top: 0;
    content: url(../images/done.svg);
    position: absolute;
  }
}
#events_ticket {
  position: relative;
  margin-left: 42px;
  &::after {
    left: -25px;
    top: 0;
    content: url(../images/tiket.svg);
    position: absolute;
  }
}
.btn_more {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $blue;
}
.events_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}
.meetup {
  max-width: 1200px;
  background-color: $blue-background;
  border-radius: 8px;
  position: relative;
  padding: 36px 56px;
  margin-bottom: 64px;
  &_content {
    max-width: 740px;
  }
  &::before {
    content: "";
    background-image: url(../images/meetup.svg);
    background-size: cover;
    width: 341px;
    height: 196px;
    position: absolute;
    right: 56px;
    top: 15px;
  }
  & p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.red_btn {
  color: white;
  background-color: $btn-red;
  padding: 8px 66px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.categories_list {
  @include flex-horizontal;
  flex-wrap: nowrap;
  margin-top: 24px;
  margin-bottom: 64px;
  & li {
    background-color: $blue-background;
    width: 135px;
    height: 113px;
    border-radius: 8px;
    text-align: center;
    padding: 22px 15px;
    & p {
      line-height: 20px;
      font-weight: 500;
    }
  }
}
.popular_city h5 {
  margin-top: 16px;
  margin-bottom: 28px;
  font-weight: 400;
}
.list_city {
  @include flex-horizontal;
  gap: 40px;
  text-align: center;
  & h2 {
    margin-top: 24px;
    margin-bottom: 65px;
  }
}
.how_works_content {
  @include flex-horizontal;
  gap: 30px;
  margin-top: 24px;
  margin-bottom: 65px;
}
.how_works_right {
  background-color: $blue-background;
  max-width: 580px;
  padding: 32px 112px 24px 90px;
  border-radius: 8px;
  position: relative;
  &::after {
    content: url(../images/search_blue.svg);
    position: absolute;
    left: 24px;
    top: 32px;
  }
  & p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.how_works_left {
  background-color: $blue-background;
  max-width: 580px;
  padding: 32px 112px 24px 90px;
  border-radius: 8px;
  position: relative;
  &::after {
    content: url(../images/plus.svg);
    position: absolute;
    left: 24px;
    top: 32px;
  }
  & p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.friendships {
  margin-bottom: 64px;
  & h5 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 28px;
    line-height: 24px;
  }
}
.friendships_content {
  @include flex-horizontal;
  gap: 32px;
  align-items: start;
  & h2 {
    margin-top: 24px;
    margin-bottom: 12px;
    line-height: 28px;
  }
  & p {
    color: $normal-grey;
    margin-bottom: 16px;
  }
  &_first,
  &_second,
  &_last {
    max-width: 376px;
  }
}
footer {
  background-color: $basic-color;
  color: white;
}
.btn_footer {
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 14px;
  background: none;
}
.footer_content {
  max-width: 1120px;
  margin: 0 auto;
}
.footer_title {
  @include flex-horizontal;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  &::after {
    content: "";
    width: 1120px;
    height: 1px;
    opacity: 50%;
    background-color: $light-grey;
    position: absolute;
    bottom: -25px;
  }
}
.footer_list {
  margin-top: 50px;
  margin-bottom: 40px;
  @include flex-horizontal;
  gap: 270px;
  align-items: start;

  & a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #c5c4c4;
  }
}
#list_title {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.follow_us {
  & p {
    color: white;
  }
  &_content {
    @include flex-horizontal;
    justify-content: space-between;

    &_right img {
      margin: 12px 15px;
    }
    &_left img {
      margin: 25px 12px;
    }
  }
}
.footer_menu ul {
  @include flex-horizontal;
  padding-top: 25px;
  padding-bottom: 40px;
  & a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #c5c4c4;
  }
}


.events_title_page_events {
  @include flex-horizontal;
  justify-content: space-between;
  align-items: start;
  margin-top: 77px;
  &_left,
  &_right {
    @include flex-colum;
    gap: 0;
    align-items: start;
  }
  & a {
    margin-top: 16px;
    font-weight: 600;
    text-decoration: underline;
    line-height: 28px;
  }
  & h2 {
    color: black;
    background-color: inherit;
    padding: 0;
    line-height: 28px;
    &::before {
      content: none;
    }
  }
  & p {
    font-size: 12px;
  }
}

.events_filter {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}
.events_filter_list {
  position: relative;
   & h1 {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 40px 16px 16px;
    background-color: #f6f7f8;
    border: none;
    border-radius: 40px;
    position: relative;
    &::before {
      content: "";
      background-image: url("../images/filter_logo.svg");
      width: 14px;
      height: 14px;
      position: absolute;
      top: 15px;
      right: 15px;
      transition: transform 0.3s ease;
    }
  }
}

input[type="checkbox"]:checked + label h1::before {
  transform: rotate(180deg);
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  display: inline-block;
}
.list_filter {
  position: absolute;
  top: 45px;
  left: 15px;
  background-color: #f6f7f8;
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 999;
  &_show {
    transition: all 1s ease-out;
    display: none;
  }
  & li {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid $light-grey;
    cursor: pointer;
  }
}

#distance {
  width: 100px;
}
#type {
  width: 70px;
}
#category {
  width: 110px;
}
#any_date{
  & h1{
  padding-right: 80px;
}
}
.list_event {
  margin-bottom: 60px;
  position: relative;
}
.maps {
  position: absolute;
  top: 210px;
  right: 140px;
}
.new_event {
  @include flex-horizontal;
  max-width: 605px;
  align-items: start;
  padding-top: 16px;
  border-top: 1px solid $light-grey;
  & img {
    max-width: 160px;
  }
  & h2 {
    line-height: 24px;
    margin-top: 10px;
  }
  & h5 {
    margin-bottom: 50px;
  }
  & h4 {
    color: $normal-grey;
    margin-bottom: 13px;
    font-weight: 400;
  }
  & p {
    line-height: 18px;
  }
}

@media (max-width: 440px) {
  .header {
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;

    &_right {
      // gap: 10px;
      font-size: 10px;
      &_img {
        & img {
          width: 100px;
          margin-left: -20px;
        }
      }
    }
    &_left {
      font-size: 12px;
      gap: 10px;
    }
  }

  .blue_btn {
    padding: 4px 8px;
    font-size: 12px;
  }
  .search_input {
    position: absolute;
    top: 50px;
    left: 60px;
    &_last {
      display: none;
    }
  }

  .search_btn {
    top: 45px;
    left: 292px;
  }
  .main {
    margin: 0 auto;
    max-width: 400px;
  }
  .join {
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 45px;

    &::before {
      width: 215px;
      height: 152px;
      left: 90px;
      bottom: -124px;
    }
    & p {
      font-size: 12px;
      line-height: 24px;
      padding-right: 10px;
    }
    & h3 {
      font-size: 25px;
      line-height: 30px;
    }
  }
  #join {
    display: none;
  }
  .events {
    margin-top: 170px;
    position: relative;
    &_title {
      margin-bottom: 30px;

      &_right {
        & h1 {
          font-size: 20px;
          line-height: 24px;
        }
        & h2 {
          font-size: 14px;
          padding: 6px 40px 4px 6px;
        }
      }
    }

    &_card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 370px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 375px;
        height: 1px;
        background-color: $light-grey;
        opacity: 70%;
        top: -15px;
        left: 10px;
      }
      & img {
        max-width: 150px;
      }
      &_content {
        width: 260px;
        padding-right: 10px;
        padding-bottom: 0;
        & h2 {
          font-size: 12px;
          line-height: 20px;
        }
        & h5 {
          font-size: 10px;
          line-height: 5px;
        }
        & p {
          font-size: 10px;
          margin-left: 20px;
          line-height: 20px;
          margin-bottom: 0;
          &::after {
            left: -20px;
            top: 0;
          }
        }
      }
    }
    &_online {
      margin-top: 100px;
    }
  }
  #events_done {
    font-size: 7px;
    position: relative;
    margin-left: 25px;
    &::after {
      top: -5px;
    }
  }
  #events_ticket {
    font-size: 7px;
    position: relative;
    margin-left: 42px;
    &::after {
      top: -5px;
    }
  }

  .events_list {
    display: flex;
    @include flex-colum;
    position: relative;
  }
  #btn_more_events {
    position: absolute;
    bottom: 610px;
    left: 150px;
  }
  #btn_more_online_events {
    position: absolute;
    bottom: -40px;
    left: 150px;
  }
  .meetup {
    margin-top: 60px;
    padding: 16px 26px;
    & h1 {
      font-size: 20px;
      margin-bottom: 150px;
    }
    &::before {
      width: 238px;
      height: 137px;
      right: 80px;
      top: 45px;
    }

    & p {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .red_btn {
    margin-left: 85px;
  }
  .categories_list {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 135px);
    gap: 25px;
    & h1 {
      font-size: 20px;
    }
  }
  .popular_city h5 {
    & h1 {
      font-size: 20px;
    }
    & h5 {
      font-size: 12px;
    }
  }
  .list_city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & img {
      max-width: 160px;
    }

    & li:nth-child(5) {
      display: none;
    }
  }

  .how_works_content {
    @include flex-colum;
    & h1 {
      font-size: 20px;
    }
    & h2 {
      font-size: 16px;
    }
    & p {
      font-size: 12px;
    }
  }
  .how_works_left,
  .how_works_right {
    padding: 15px 40px 24px 90px;
  }

  .friendships {
    &h1 {
      font-size: 20px;
    }
    & h5 {
      font-size: 12px;
    }
  }
  .friendships_content {
    @include flex-colum;
    & h2 {
      font-size: 16px;
    }
    & p {
      font-size: 12px;
    }
  }

  .footer_content {
    max-width: 420px;

    padding: 20px;
    & h2 {
      font-size: 16px;
    }
  }
  .footer_title {
    justify-content: space-between;
    &::after {
      width: 380px;
    }
  }
  .footer_list {
    gap: 45px;
    & a {
      font-size: 12px;
    }
  }
  #list_title {
    font-size: 14px;
  }
  .follow_us {
    &_content {
      gap: 10px;

      &_left {
        display: none;
      }
    }
  }

  .footer_menu ul {
    & li:nth-child(n + 2) a {
      display: none;
    }
  }
 
  .events_filter {
    & h1 {
      font-size: 10px;
      padding: 10px 35px 10px 10px;
      gap: 10px;
    }
    &_list h1::before {
      top: 10px;
    }
  }
  .list_filter {
    top: 35px;
  }
  #distance {
    width: 60px;
  }
  #type {
    width: 50px;
  }
  #category {
    width: 80px;
  }
  #any_date{
    width: 80px ;
    & h1{
      padding-right: 20px;
    }
  }

  .new_event {
    max-width: 370px;
    & img {
      max-width: 120px;
    }
    & p {
      font-size: 12px;
      line-height: 14px;
    }
    & h2 {
      font-size: 18px;
      line-height: 22px;
    }
    & h5 {
      font-size: 12px;
      margin-bottom: 20px;
    }
    & h4 {
      font-size: 10px;
    }
  }
  .events_title_left_page_events,
  .maps {
    display: none;
  }
}
@media (max-width: 1024px) {
  
  .main {
    margin: 0 auto;
    max-width: 900px;
  }
  .join::before{
    right: -340px;
  }
  .events_list{
    grid-template-columns: repeat(3 , 1fr)
  }
  .meetup_content{
    max-width: 450px;
  }
  .footer_content{
    max-width: 900px;
  }

}

